* {
    box-sizing: border-box;
    margin: 0;
}

// Primary
$Primary-1: hsl(0, 100%, 67%);
$Primary-2: hsl(39, 100%, 56%);
$Primary-3: hsl(166, 100%, 37%);
$Primary-4: hsl(234, 85%, 45%);

$Primary-1-opacity: hsla(0, 100%, 67%, 0.05);
$Primary-2-opacity: hsla(39, 100%, 56%, 0.05);
$Primary-3-opacity: hsla(166, 100%, 37%, 0.05);
$Primary-4-opacity: hsla(234, 85%, 45%, 0.05);

//Gradients
$Gradient-box-1: hsl(252, 100%, 67%);
$Gradient-box-2: hsl(241, 81%, 54%);
$Gradient-circle-1: hsla(256, 72%, 46%, 1);
$Gradient-circle-2: hsla(241, 72%, 46%, 0);

//Neutral
$Neutral_1: hsl(0, 0%, 100%);
$Neutral_2: hsl(221, 100%, 96%);
$Neutral_3: hsl(241, 100%, 89%);
$Neutral_4: hsl(224, 30%, 27%);

body {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

@mixin result_box() {
    width: 375px;
    height: 375px;
    background: linear-gradient($Gradient-box-1, $Gradient-box-2);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-family: 'Hanken Grotesk', sans-serif;
}

@mixin circle() {
    width: 125px;
    height: 125px;
    border-radius: 100%;
    background: linear-gradient($Gradient-circle-1, $Gradient-circle-2);
    font-family: 'Hanken Grotesk', sans-serif;
    text-align: center;
}

@mixin summary_box($color_b: $Primary-1-opacity) {
    font-family: 'Hanken Grotesk', sans-serif;
    background-color: $color_b;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin-bottom: 10px;
}

@mixin button() {
    width: 300px;
    height: 60px;
    background-color: $Neutral_4;
    border-style:none;
    border-radius: 100px;

    font-family: 'Hanken Grotesk', sans-serif;
    color: $Neutral_1;
    font-size: large;
    margin-top: 10px;
    margin-bottom: 25px;

    cursor: pointer;
}

.result {
    @include result_box();
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    h3 {
        color: $Neutral_2;
    }

    h1 {
        color: $Neutral_1;
    }

    p {
        font-size: small;
        text-align: center;
        color: $Neutral_3;
        width: 240px;
    }
}

.circle {
    @include circle();
    display: flex;
    align-items: center;
    justify-content: center;


    span {
        display: block;
        color: $Neutral_1;
        font-weight: 700;
        font-size: 50px;
    }

    p {
        color: $Neutral_3;
    }
}

.summary {
    img {
        height: 20px;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#summary_t {
    color: $Neutral_4;
    font-family: 'Hanken Grotesk', sans-serif;
    width: 300px;
    
    margin-top: 20px;
    margin-bottom: 20px;
}

.summary div:nth-child(2) {
    @include summary_box($color_b: $Primary-1-opacity);

    h4 {
        color: $Primary-1;
    }
}

.summary div:nth-child(3) {
    @include summary_box($color_b: $Primary-2-opacity);

    h4 {
        color: $Primary-2;
    }
}

.summary div:nth-child(4) {
    @include summary_box($color_b: $Primary-3-opacity);

    h4 {
        color: $Primary-3;
    }
}

.summary div:nth-child(5) {
    @include summary_box($color_b: $Primary-4-opacity);

    h4 {
        color: $Primary-4;
    }
}

.summary div span {
    color: $Neutral_4;
    font-weight: 700;

}

.summary div p {
    color: $Neutral_3;
}

button {
    @include button();
}

@media (min-width: 700px){
    body{
        flex-direction: row;
        justify-content: center;


    }

    .result{
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }

    .summary{
    width: 375px;
    height: 375px;
    background-color: $Neutral_1;

    border-radius: 25px;

    box-shadow: 25px 25px 81px -34px rgba(0,0,0,0.5);
    }


}