* {
    box-sizing: border-box;
    margin: 0;
}

// Primary
$Primary-1: hsl(0, 100%, 67%);
$Primary-2: hsl(39, 100%, 56%);
$Primary-3: hsl(166, 100%, 37%);
$Primary-4: hsl(234, 85%, 45%);

$Primary-1-opacity: hsla(0, 100%, 67%, 0.05);
$Primary-2-opacity: hsla(39, 100%, 56%, 0.05);
$Primary-3-opacity: hsla(166, 100%, 37%, 0.05);
$Primary-4-opacity: hsla(234, 85%, 45%, 0.05);

//Gradients
$Gradient-box-1: hsl(252, 100%, 67%);
$Gradient-box-2: hsl(241, 81%, 54%);
$Gradient-circle-1: hsla(256, 72%, 46%, 1);
$Gradient-circle-2: hsla(241, 72%, 46%, 0);

//Neutral
$Neutral_1: hsl(0, 0%, 100%);
$Neutral_2: hsl(221, 100%, 96%);
$Neutral_3: hsl(241, 100%, 89%);
$Neutral_4: hsl(224, 30%, 27%);

body {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

}

@mixin result_box() {
    width: 375px;
    height: 390px;
    background: linear-gradient($Gradient-box-1, $Gradient-box-2);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    font-family: 'Hanken Grotesk', sans-serif;

}

@mixin circle() {
    width: 125px;
    height: 125px;
    border-radius: 100%;
    background: linear-gradient($Gradient-circle-1, $Gradient-circle-2);
    font-family: 'Hanken Grotesk', sans-serif;
    text-align: center;
}

@mixin summary_box($color_b: $Primary-1-opacity) {
    font-family: 'Hanken Grotesk', sans-serif;

    background-color: $color_b;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 50px 1fr 100px;
    align-items: center;
}

@mixin button() {
    width: 300px;
    height: 60px;
    background-color: $Neutral_4;
    border-style: none;
    border-radius: 100px;

    font-family: 'Hanken Grotesk', sans-serif;
    color: $Neutral_1;
    font-size: large;
    margin: 10px;

    cursor: pointer;
}

.result {
    @include result_box();
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    h3 {
        color: $Neutral_3;
        font-size: large;
        font-weight: 500;
    }

    h1 {
        color: $Neutral_1;
        text-align: center;
        padding-bottom: 10px;
    }

    p {
        font-size: 18px;
        text-align: center;
        color: $Neutral_3;
        width: 290px;
    }
}

.circle {
    @include circle();
    display: flex;
    align-items: center;
    justify-content: center;


    span {
        display: block;
        color: $Neutral_1;
        font-weight: 700;
        font-size: 50px;
    }

    p {
        color: $Neutral_3;
        font-size: medium;
    }
}

.summary {
    img {
        height: 20px;
        justify-self: center;
    }

    height: 390px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#summary_t {
    color: $Neutral_4;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: large;
    font-weight: 700;
    width: 300px;
    margin: 10px;

}

.summary div:nth-child(2) {
    @include summary_box($color_b: $Primary-1-opacity);

    h4 {
        color: $Primary-1;
    }
}

.summary div:nth-child(3) {
    @include summary_box($color_b: $Primary-2-opacity);

    h4 {
        color: $Primary-2;
    }
}

.summary div:nth-child(4) {
    @include summary_box($color_b: $Primary-3-opacity);

    h4 {
        color: $Primary-3;
    }
}

.summary div:nth-child(5) {
    @include summary_box($color_b: $Primary-4-opacity);

    h4 {
        color: $Primary-4;
    }
}

.summary div span {
    color: $Neutral_4;
    font-weight: 700;

}

.summary div p {
    color: $Neutral_3;
    justify-self: center;
}

button {
    @include button();
}

button:hover {
    background: linear-gradient($Gradient-box-1, $Gradient-box-2);
}

@media (min-width: 700px) {
    body {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto 1rem;


        flex-direction: row;
        justify-content: center;


    }

    .result {
        height: 500px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        grid-row: 1/2;

        h3 {
            font-size: 25px;
        }

        p {
            width: 250px;
        }
    }

    .circle {
        height: 180px;
        width: 180px;

        span {
            font-size: 70px;
        }

    }

    // not centered
    .summary {
        width: 425px;
        height: 500px;
        background-color: $Neutral_1;

        border-radius: 25px;

        box-shadow: 25px 25px 81px -35px rgba(0, 0, 0, 0.5);

        grid-row: 1/2;

        padding-left: 50px;

        position: relative;
        left: -50px;
        z-index: -1;
    }

    #summary_t {
        font-size: 25px;
        margin: 20px;
    }

    button {
        margin: 35px;
    }

    .attribution {
        grid-column: 1/3;
    }
}